/*****************************************************************************
 base_style.css
 
******************************************************************************
 Written in 2005 by Brian Douglas Skinner <brian.skinner@gumption.org>
  
 Copyright rights relinquished under the Creative Commons  
 Public Domain Dedication:
    http://creativecommons.org/licenses/publicdomain/
  
 You can copy freely from this file.  This work may be freely reproduced, 
 distributed, transmitted, used, modified, built upon, or otherwise exploited
 by anyone for any purpose.
  
 This work is provided on an "AS IS" basis, without warranties or conditions 
 of any kind, either express or implied, including, without limitation, any 
 warranties or conditions of title, non-infringement, merchantability, or 
 fitness for a particular purpose. You are solely responsible for determining 
 the appropriateness of using or distributing the work and assume all risks 
 associated with use of this work, including but not limited to the risks and 
 costs of errors, compliance with applicable laws, damage to or loss of data 
 or equipment, and unavailability or interruption of operations.

 In no event shall the authors or contributors have any liability for any 
 direct, indirect, incidental, special, exemplary, or consequential damages,
 however caused and on any theory of liability, whether in contract, strict 
 liability, or tort (including negligence), arising in any way out of or in 
 connection with the use or distribution of the work.
*****************************************************************************/


/*********************************************************************
 Font sizes and line sizes
 
 When I first wrote this stylesheet, I tested only in Firefox, not IE.
 My early versions relied heavily on some CSS values like "thin", 
 which IE doesn't seem to support.  To make the IE output to match
 the Firefox output, I reluctantly changed many of the values here.
 At some point, once IE supports more of CSS, it would be good to 
 change these values back.  You can safely just do global replacements
 in this file.  Here's the list of replacements:
   1pt    -->  thin
   1.5em  -->  x-large
   0.8em  -->  small
   0.6em  -->  x-small
*********************************************************************/
  
/*********************************************************************
 Colors
 
 Here are lists of the colors I use.
 
 Background colors:
   white            -->  rgb(100%, 100%, 100%);
   gray background  -->  rgb(90%, 90%, 90%);
   green background -->  rgb(80%, 100%, 80%);
   red background   -->  rgb(100%, 80%, 80%);
   bright yellow    -->  rgb(100%, 100%, 0%);
   editing yellow   -->  rgb(100%, 100%, 40%);
   hover yellow     -->  rgb(100%, 100%, 70%);
   black            -->  rgb(0%, 0%, 0%);

 Line colors
   border line gray -->  rgb(70%,70%,70%);
   dark blue        -->  rgb(0%, 0%, 50%);
 
 Font colors:
   black            -->  rgb(0%, 0%, 0%);
   logo gray        -->  rgb(60%, 60%, 60%);  
   dark blue        -->  rgb(0%, 0%, 50%);
   red              -->  rgb(100%, 0%, 0%);
   teletype green   -->  rgb(0%, 100%, 0%);
 
 Link colors:
   blue             -->  #0000cc;
   maroon           -->  #551a8b;
   dark gray        -->  rgb(30%, 30%, 30%);  

*********************************************************************/


/****************************************/
/* Universal styles                     */

html, body {
  background: rgb(100%, 100%, 100%);
  color: rgb(0%,0%,0%);
  font-family: Arial, Verdana, sans-serif;
}

div.editmode {
  background: rgb(100%, 100%, 100%);
}

h1 {
  color: rgb(0%, 0%, 50%);
  font-size: 1.5em;
  margin-top: 1.4em;
}

h2 {
  color: rgb(0%, 0%, 50%);
  font-size: large;
}

h3 {
  color: rgb(0%, 0%, 0%);
  font-size: medium;
  font-weight: bold;
}

a {
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: thin;
}

a:link {
  color: #0000cc;
}

a:visited {
  color: #551a8b;
}

a:active {
  color: rgb(100%, 0%, 0%);
}

a:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  background: rgb(100%, 100%, 0%);
}

a.anchor {
  text-decoration: none;
  border-bottom-style: none;
}

a[rel~="external"]:after {
  content: " >";
  font-weight: bold;
}

a[rel~="external"] {
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: thin;
}

a[rel~="external"]:hover {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  background: rgb(100%, 100%, 0%);
}

a.more {
  font-size: 0.6em;
}

.helpbox {
  margin: 1.4em 6%;
  padding: 1em;
  border: solid 1pt rgb(0%, 0%, 50%); 
}

.helpbox h2 {
  font-size: medium;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

span.bad {
  color: rgb(100%, 0%, 0%);
}


/****************************************/
/* Header and logo styles               */

.header {
  clear: both;
  border-left: solid 1pt rgb(0%, 0%, 50%);
  border-bottom: solid 1pt rgb(0%, 0%, 50%);
  padding: 0.3em;
  width: 100%;
}

div.editmode .header {
  background-color: rgb(100%, 100%, 40%);
}

div.viewmode .header {
  background-color: rgb(100%, 100%, 100%);
}

.logo a {
  font-weight: bold;
  text-decoration: none;
  border-bottom-style: none;
}

.logo a:hover {
  border-bottom-style: solid;
}

.logostart {
  color: rgb(60%, 60%, 60%);  
}

.logomiddle {
  color: rgb(0%, 0%, 50%); 
}

.logoend {
  color: rgb(60%, 60%, 60%);  
}

.logo {
  float: left;
}


/****************************************/
/* Edit tool styles                     */

div.editmode p.edit_tool {
  background-color: rgb(100%, 100%, 40%);
}

div.editmode .edit_tool {
  display: block;
}

div.viewmode .edit_tool {
  display: none;
}


/****************************************/
/* NavbarView styles                */

div.NavbarView {
  float: left;
  width: 100pt;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: bold;
}

.menu {
  padding-left: 0;
  padding-top: 8pt;
  padding-bottom: 20pt;
  margin-left: 0;
  list-style-type: none;
  width: 80pt;
}

.menu_item {
  list-style: none;
  margin: 0;
}

.menu_item a {
  display: block;
  width: 100%;
  padding: 5pt 0pt 5pt 5pt;
  text-decoration: none; 
  border-left: solid 5pt rgb(100%, 100%, 100%);
  border-top: solid 1pt rgb(0%, 0%, 50%);
  border-right: solid 1pt rgb(0%, 0%, 50%);
  border-bottom-style: none;
  color: rgb(0%, 0%, 50%); 
}

.menu_item a:link {
  color: rgb(0%, 0%, 50%); 
  background-color: rgb(100%, 100%, 100%);
}

.menu_item a:visited {
  color: rgb(0%, 0%, 50%); 
  background-color: rgb(90%, 90%, 90%);
  border-left: solid 5pt rgb(90%, 90%, 90%);
}

.menu_item a:hover {
  background-color: rgb(100%, 100%, 0%);
  width: 100%;
  border-left: solid 5pt rgb(0%, 0%, 50%);
  border-bottom-style: none;
}

.sub_menu {
  margin-left: 15pt;
  padding: 0;
  list-style-type: none;
}

.sub_menu_item {
  list-style: none;
  margin: 0;
}

.sub_menu_item a {
  display: block;
  width: 65pt;  /* menu.width - sub_menu.margin-left = 80pt - 15pt = 65pt */
  padding: 5pt 0pt 5pt 5pt;
  text-decoration: none; 
  border-top: solid 1pt rgb(0%, 0%, 50%);
  border-right: solid 1pt rgb(0%, 0%, 50%);
  border-bottom-style: none;
}


/****************************************/
/* Content area styles                  */

div.content_area {
  margin: 0pt 0pt 0pt 115pt;
  padding: 0pt;
}

h1.EntryView .TextValue {
  border-width: thin;
  border-style: solid;
  border-color: rgb(100%, 100%, 100%);
}

h2.EntryView span {
  border-width: thin;
  border-style: solid;
  border-color: rgb(100%, 100%, 100%);
}

h1.EntryView .TextValue:hover {
  border-width: thin;
  border-style: solid;
  border-color: rgb(70%, 70%, 70%);
}

h2.EntryView span:hover {
  border-width: thin;
  border-style: solid;
  border-color: rgb(70%, 70%, 70%);
}

div.EntryView span:hover {
  border-width: thin;
  border-style: solid;
  border-color: rgb(70%, 70%, 70%);
}

h1.EntryView input {
  color: rgb(0%, 0%, 50%);
  background: rgb(100%, 100%, 40%);
  font-size: 1em;
  width: 100%;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  border-width: thin;
  border-style: solid;
  border-color: rgb(70%, 70%, 70%);
  padding: 0pt;
}

h2.EntryView input {
  color: rgb(0%, 0%, 50%);
  background: rgb(100%, 100%, 40%);
  font-size: 1em;
  width: 100%;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  border-width: thin;
  border-style: solid;
  border-color: rgb(70%, 70%, 70%);
  padding: 0pt;
}

div.EntryView textarea {
  //font-size: large;
  background: rgb(100%, 100%, 40%);
  width: 100%;
  font-family: Arial, Verdana, sans-serif;
  border-width: thin;
  border-style: solid;
  border-color: rgb(70%, 70%, 70%);
  padding: 0pt;
  margin: 0px;
}



/****************************************/
/* Debug area styles                    */

.debug textarea {
  background-color: rgb(0%, 0%, 0%);
  color: rgb(0%, 100%, 0%); 
  visibility: hidden;
  display: none;
}


/****************************************/
/* Footer and copyright styles          */

.footer {
  clear: both;
  border-left: solid 1pt rgb(0%, 0%, 50%);
  border-top: solid 1pt rgb(0%, 0%, 50%);
  padding: 0.3em;
  width: 100%;
  font-size: 0.6em;
  margin-top: 3em;
}

.copyright {
  float: left;
}

.fileformat {
  float: right;
}


/****************************************/
/* FAQ styles                           */

.faq dt {
  font-weight: bold;
  color: rgb(0%, 0%, 50%);
  margin-top: 1.4em;
}

.faq dd {
  color: rgb(0%, 0%, 0%);
}


/****************************************/
/* Table styles                         */

.simple_table {
  background: rgb(70%, 70%, 70%);
  border: 1pt solid rgb(70%, 70%, 70%);
  border-collapse: collapse; 
}

.simple_table th {
  padding: 0.3em;
  color: rgb(0%, 0%, 50%);
  background: rgb(90%, 90%, 90%);
  font-size: 0.8em;
  border: 1pt solid rgb(70%, 70%, 70%);
}

.simple_table tr {
  background: rgb(100%, 100%, 100%);
}

.viewmode .simple_table {
  background: rgb(100%, 100%, 0%);
}

.simple_table td {
  padding: 0.1em 0.3em; 
  font-size: 0.8em;
  border: 1pt solid rgb(70%, 70%, 70%);
}

tr.selected {
  background: rgb(100%,100%,40%);
}

td.MultiEntriesView {
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  border: thin solid #CCC;
  padding: 3px;
  margin: 0px;
}

td.yup {
  background: rgb(80%, 100%, 80%);
}

td.nope {
  background: rgb(100%, 80%, 80%);
}

td.year {
  font-weight: bold;  
  padding-left: 1em;
  padding-right: 1em;
}

td.money {
  text-align: right;
}

td.title {
  font-weight: bold;  
  background: rgb(90%, 90%, 90%);
}

td.label {
  font-weight: bold;  
  text-align: right;
  vertical-align: top;
}

td.negative {
  color: rgb(90%, 0%, 0%);
}

td.total {
  font-weight: bold;  
  background: rgb(90%, 90%, 90%);
}

.MultiEntriesView .EntryView input {
  font-family: Arial, Verdana, sans-serif;
  border: 0px;
  width: 100%;
  background: rgb(100%, 100%, 40%);
  padding: 0px;
}

.MultiEntriesView .EntryView input:hover {
  border-width: 0px;
  width: 100%;
  background: rgb(100%, 100%, 40%);
}

/*.editmode .simple_table td:hover {
  background: rgb(100%, 100%, 70%);
}*/

td.newitem {
  /* background: rgb(100%,100%,50%); */
  border-top: medium solid rgb(70%, 70%, 70%);
}

.editmode .simple_table td.selected {
  /* padding: 0px 0px; */
  background: rgb(100%, 100%, 40%);
}


/****************************************/
/* Outline styles                       */

li.category {
   color: rgb(0%, 0%, 50%);
   line-height: 1em;
   padding-top: 12pt;
   font-weight: normal;
   font-size: medium;
}

li.primary {
   font-weight: bold;
   font-size: medium;
   line-height: 1.1em;
   padding-top: 8pt;
}

li.detail {
   color: rgb(0%,0%,0%);
   line-height: 1.2em;
   padding-top: 4pt;
   font-weight: normal;
   font-size: small;
}


/****************************************/
/* Bar chart styles                     */

.simple_table td.bar_chart_frame {
  width: 20em;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.bar_chart_bar {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: rgb(0%, 0%, 50%);
  border: none;
  text-align: right;
  vertical-align: middle;
  color: white;
}


/****************************************/
/* LoginView styles                     */

.LoginView {
  font-size: x-small;
  float: right;
}


/****************************************/
/* SectionView styles                 */

div.SectionView {
  border-top: solid thin rgb(0%, 0%, 50%);
  margin-top: 3em;
  padding-left: 0px;
}


/****************************************/
/* SuggestionBox styles                 */

.SuggestionBox {
  background: rgb(100%, 100%, 100%);
  font-size: 0.8em;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
  margin: 0px;
  display: none;
  visibility: hidden;
  z-index: 11;  
  position: absolute;
}

.SuggestionBox table {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
  border-collapse: collapse; 
}

.SuggestionBox tr {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100%;
}

.SuggestionBox td {
  margin: 0px;
  border: 0px;
  padding: 2px;
  width: 100%;
}

.SuggestionBox tr:hover {
  background: rgb(100%, 100%, 70%);
}


/****************************************/
/* EntryView styles                     */

.EntryView {
  width: 100%;
  height: 100%;
}

.EntryView .provisional {
  color: #999999;
}

.ItemValue, .ConnectionValue {
  background-color: #DEE7F8; // light blue
  padding: 1px;
  border: thin solid #A4BDEC;	
  -moz-border-radius: 6px; // WARNING: Mozilla only attribute. This just makes a rectangle have rounded corners
}

.ItemValueSelected {
  background-color:#598bec;
  color: #FFFFFF;
}
.DateValue {
  font-style: italic;
}

.NumberValue {
  font-weight: bold;
}

.TextValue {
}

.UrlValue {
  text-decoration: underline;
}

.NegativeNumber {
  color: rgb(100%, 0%, 0%);
}

/* obsolete? 
div.editmode .text_block:hover {
  background: rgb(100%, 100%, 70%);
  border: thin solid rgb(70%, 70%, 70%);
}

div.editmode .text_block {
  border: solid thin rgb(100%, 100%, 100%); 
}

div.viewmode .text_block {
  border: solid thin rgb(100%, 100%, 100%); 
} */


/****************************************/
/* PENDING -- time to delete these?     */

p.byline {
  font-size: 0.8em;
  text-align: right;
  line-height: 0.4em;
}

p.byline a {
  color: rgb(0%,0%,0%);
}


/****************************************/
/* END                                  */
/****************************************/
